@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "SourProLight";
    font-style: italic;
    font-weight: bold;
    src: url(fonts/000007.ttf)
    }
@font-face {
    font-family: "SourProLight";
    font-style: normal;
    font-weight: bold;
    src: url(fonts/000006.ttf)
    }
@font-face {
    font-family: "SourProLight";
    font-style: italic;
    font-weight: normal;
    src: url(fonts/000004.ttf)
    }
@font-face {
    font-family: "SourProLight";
    font-style: normal;
    font-weight: normal;
    src: url(fonts/000003.ttf)
    }
@font-face {
    font-family: "SourPro";
    font-style: italic;
    font-weight: normal;
    src: url(fonts/000002.ttf)
    }
@font-face {
    font-family: "SourPro";
    font-style: normal;
    font-weight: normal;
    src: url(fonts/000005.ttf)
    }
@font-face {
    font-family: "SourPro";
    font-style: normal;
    font-weight: bold;
    src: url(fonts/000000.ttf)
    }
@font-face {
    font-family: "SourPro";
    font-style: italic;
    font-weight: bold;
    src: url(fonts/000001.ttf)
    }
@font-face {
    font-family: Aldine721EU;
    font-style: italic;
    font-weight: normal;
    src: url(OEBPS/Fonts/Aldine721EU-Italic.ttf)
    }
@font-face {
    font-family: Aldine721EU;
    font-style: oblique;
    font-weight: normal;
    src: url(OEBPS/Fonts/Aldine721EU-Italic.ttf)
    }
@font-face {
    font-family: Aldine721EU;
    font-style: normal;
    font-weight: normal;
    src: url(OEBPS/Fonts/Aldine721EU-Normal.ttf)
    }

.calibre {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    font-family: inherit;
    font-size: 1em;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.calibre1 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: block;
    font-family: "SourPro";
    font-size: 1em;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.calibre2 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: block;
    font-family: "SourPro";
    font-size: 1em;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: 1.5em;
    margin-bottom: 0.1em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-top: 1px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0.5em;
    top: 0;
    vertical-align: baseline
    }
.calibre3 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    font-family: inherit;
    font-size: 1em;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    height: auto;
    line-height: inherit;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline;
    width: auto
    }
.calibre4 {
    font-style: italic
    }
.calibre5 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    color: black;
    font-family: inherit;
    font-size: 1em;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.calibre6 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: block;
    font-family: "SourProLight";
    font-size: 1.29167em;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: 1.5em;
    margin-bottom: 2.5em;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    text-transform: uppercase;
    vertical-align: baseline
    }
.calibre7 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: block;
    font-family: "SourPro";
    font-size: 1em;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: 1.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: ledt;
    top: 0;
    vertical-align: baseline
    }
.calibre8 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    font-family: inherit;
    font-size: 1em;
    font-style: italic;
    font-variant: inherit;
    font-weight: inherit;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.data {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: block;
    font-family: "SourProLight";
    font-size: 1.29167em;
    font-style: inherit;
    font-variant: inherit;
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0;
    top: 0;
    vertical-align: baseline
    }
.first {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: block;
    font-family: "SourPro";
    font-size: 1em;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: 1.5em;
    margin-bottom: 0.1em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-top: 1px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0;
    top: 0;
    vertical-align: baseline
    }
.fit {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: block;
    font-family: "SourPro";
    font-size: 1em;
    font-style: italic;
    font-variant: inherit;
    font-weight: inherit;
    line-height: 1.5em;
    margin-bottom: 0.1em;
    margin-left: 1.2em;
    margin-right: 1.2em;
    margin-top: 1px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0.8em;
    top: 0;
    vertical-align: baseline
    }
.not {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: block;
    font-family: "SourProLight";
    font-size: 1em;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: 1.5em;
    margin-bottom: 0.8em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    margin-top: 0.8em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0.5em;
    top: 0;
    vertical-align: baseline
    }
.onlytoc {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    color: black;
    display: none;
    font-family: "SourProLight";
    font-size: 1.66667em;
    font-style: inherit;
    font-variant: inherit;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1.5em;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    text-transform: uppercase;
    vertical-align: baseline
    }
.osoba {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: block;
    font-family: "SourProLight";
    font-size: 1.29167em;
    font-style: italic;
    font-variant: inherit;
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 0.3em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0;
    top: 0;
    vertical-align: baseline
    }
.pg {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: block;
    font-family: "SourPro";
    font-size: 1em;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: 1.5em;
    margin-bottom: 0.1em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-top: 2em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0.5em;
    top: 0;
    vertical-align: baseline
    }
.pg1 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: block;
    font-family: "SourPro";
    font-size: 0.83333em;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: 1.5em;
    margin-bottom: 0.1em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    top: 0;
    vertical-align: baseline
    }
.redakcyjna {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: block;
    font-family: "SourPro";
    font-size: 0.83333em;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: 1.5em;
    margin-bottom: 0.1em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-top: 1px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    top: 0;
    vertical-align: baseline
    }
.sgc-toc-level {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    color: black;
    display: block;
    font-family: "SourPro";
    font-size: 1em;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.sgc-toc-level1 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    color: black;
    display: block;
    font-family: "SourPro";
    font-size: 0.83333em;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin-bottom: 0;
    margin-left: 2.5em;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.sgc-toc-level2 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    color: black;
    display: block;
    font-family: "SourPro";
    font-size: 0.83333em;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin-bottom: 0;
    margin-left: 2.5em;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.sgc-toc-level3 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    color: black;
    display: block;
    font-family: "SourPro";
    font-size: 1em;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin-bottom: 0;
    margin-left: 0.5em;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: baseline
    }
.sgc-toc-title {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    color: black;
    display: block;
    font-family: "SourProLight";
    font-size: 1.66667em;
    font-style: inherit;
    font-variant: inherit;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1.5em;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    text-transform: uppercase;
    vertical-align: baseline
    }
.star {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: block;
    font-family: "SourPro";
    font-size: 1em;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: 1.5em;
    margin-bottom: 0.5em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0.5em;
    top: 0;
    vertical-align: sub
    }
.trans {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: block;
    font-family: "SourPro";
    font-size: 1em;
    font-style: italic;
    font-variant: inherit;
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 0.4em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0;
    top: 0;
    vertical-align: baseline
    }

